@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /*Primary text*/
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);
    /*Neutral text*/
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    /*line divider*/
    --Light-grayish-blue: hsl(240, 5%, 91%);
    /*background gradient*/
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);
    /*background color*/
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    font-family: "Kumbh Sans", sans-serif;
    background: linear-gradient(var(--Soft-violet),var(--Soft-blue));
    min-height: 100vh;
    display: grid;
    place-content: center;

}

.main-container {
    background-color: var(--white);
    width: 27em;
    min-height: 42em;
    border-radius: 1.6em;
    padding: 2.2em 2em;
    box-shadow: 0 1em 3em -1em var(--Very-dark-desaturated-blue);
    margin-top: 8em;
}

.main-container__s1__img {
    display: block;
    width: 20em;
    margin: -11.4em auto 0
}

.main-container__s1__img--shadow {
    content: url(/images/bg-pattern-mobile.svg);
    width: 20em;
    margin: -6em auto 0;
}

.main-container__s2__header {
    margin: 1em 0;
    font-size: 2.5em;
    text-align: center;
}

.main-container__s2__details {
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    cursor: pointer;
    color: var(--Very-dark-grayish-blue);
    position: relative;
    border-bottom: 1px solid var(--Light-grayish-blue);
}

.main-container__s2__details[open] summary  {
    font-weight: 700;
    color: var(--Very-dark-desaturated-blue);
    margin-bottom: 1em;
}

.main-container__s2__details__summary {
    list-style: none;
    font-size: 1.09em;
}
.main-container__s2__details__summary:hover {
    color: var(--Soft-red);
    font-weight: 700;
}

.main-container__s2__details__summary--arrow {
    content: url(/images/icon-arrow-down.svg);
    position: absolute;
    right: 0;
    top: .42em;
    transition: 300ms;
}

.main-container__s2__details[open] .main-container__s2__details__summary--arrow {
    transform: rotate(180deg);
    transition: 300ms;
}

.main-container__s2__details_paragraph {
    color: var(--Dark-grayish-blue);
    max-width: 90%;
}

.attribution {
    text-align: center;
    margin: 1em;
    font-size: 1.2em;
    color: var(--Light-grayish-blue);
}

.attribution a {
    color: var(--white);
    font-weight: 700;
    text-decoration: none;
}

@media screen and (min-width: 1025px) {
    .main-container {
        width: 77em;
        display: flex;
        padding: 0;
        background-image: url(/images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-position: -44em -24em;
        background-size: cover;
        position: relative;
        margin: auto;

    }
    .main-container__s1, .main-container__s2 {
        width: 50%;
        overflow: hidden;
        padding: 6em;
    }

    .main-container__s2 {
        margin-right: 3em;
    }
    .main-container__s1__img--shadow {
        content: "";
    }
    .main-container__s2__header {
        text-align: left;
        margin-top: 0em;
    }

    .main-container__s1__img {
        content: url(/images/illustration-woman-online-desktop.svg);
        width: auto;
        margin: 0;
        margin-left: -12em;
        
    }
    .main-container::before {
        content: url(/images/illustration-box-desktop.svg);
        position: absolute;
        left: -10%;
        top: 40%;
    }
  }